[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Packages/PackageCache/
Packages/packages-lock.json
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.vscode/
.idea/
.DS_Store
